<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Students</title>
  <!--link rel='stylesheet' href='public/stylesheets/bootstrap.min.css'-->
</head>
<body>

  <h2>Search student</h2>
  <br/><br/>
  <form action='/students/search' method='POST'>
    <span><b>Naam : </b><input type='text' name='naam'></span>
    <span><button type='submit'>Search</button></span>
  </form>
</body>
</html>
